<!DOCTYPE html>
<html>
    <head>
        <title>Delete Resturants</title>
    </head>
    <body>
        <p>You have successfully cleared out your resturants</p>

        <a href="/">Home</a>
    </body>
</html>
