<!DOCTYPE html>
<html>
    <head>

        <title>cuisine</title>
    </head>
    <body>
        <p>Heres the food:</p>

     {% if cuisines is not empty %}
         <p>poop:</p>
         <ul>
             {% for cuisine in cuisines %}
                 <li>{{ cuisine.getCuisine }}</li>
             {% endfor %}
         </ul>
     {% endif %}

    </body>
</html>
