<!DOCTYPE html>
<html>
    <head>
        <title>Cuisine</title>
    </head>
    <body>
        <h1>Welcome to your lunch tracker</h1>
        <form action="/cuisine" method="post">
           <label for="cuisine">Cuisine type:</label>
           <input id="cuisine" name="cuisine" type="text">

           <button type="submit">Add cuisine</button>
       </form>

    </body>
</html>
